body{
    margin: 0;
    padding: auto;
    background-color: bisque;
}

#cabecalho img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#cabecalho{
    grid-area: cabecalho;
    background-color: aquamarine;
    height: 20vh;
}
#conteudo{
    grid-area:conteudo;
    background-color: rgb(183, 222, 28);
    height: 100vh;
    grid-column-start: 2;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;

}

.card-login{
    background-color: aqua;
    width: 70%;
    height: 50%;
    padding: 5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}
.menu {
    background-color: rgb(94, 59, 16);
    height: 20%;
    display: inline;
}
.menu ul li{
    display: inline-block;
    background-color: darkmagenta;
    padding: 9px;
}
.menu ul li :hover{
    background-color: rgb(229, 68, 229);
}
.topo{
    background-color: red;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    background-color: rgb(38, 0, 255);
}
.card-sala{
    width: 40%;
    position: relative;
    height: 92px;
    margin: 20px;
}
.card-sala div{
    background-color: #3A4F56;
    height: 65px;
    border-radius: 5px;
}

.card-sala p{
    background-color: rgb(79, 79, 210);
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 20px;
}