

.topo{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}

.button {
    height: 40%;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    height: fit-content;
    background-color: #CDEDF6;
}
.card-sala{
    width: 49%;
    position: relative;
    margin: 10px 0px;
    height: 95px;

}
.card-sala div{
    background-color: #28697b;
    height: 80px;
    border-radius: 6px;
}
.card-sala div:hover{
    background-color: #3fa3bf;
    height: 80px;
    border-radius: 6px;
    cursor: pointer;
}

.card-sala p{
    background-color: #1e3034;
    width: 40%;
    height: 32%;
    padding: 2px 5px;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    color: aliceblue;
}
