/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
    padding: auto;
    background-color: #CDEDF6;
}
body a{
    text-decoration: none;
}
body a:visited{
    text-decoration: none;
    color: aliceblue;
}
.container{
    display: grid;
    grid-template-areas: 
        'cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho'
        'nv nv nv nv nv nv nv'
        'conteudo conteudo conteudo conteudo conteudo conteudo conteudo'
        'conteudo conteudo conteudo conteudo conteudo conteudo conteudo'
        'conteudo conteudo conteudo conteudo conteudo conteudo conteudo'
        'rodape rodape rodape rodape rodape rodape rodape';
    grid-template-columns: repeat(7, 1fr)
}
/* botões */
.bnt{
    width: 100%;
    height: 70px;
    background-color: #377984;
    color: #d0eef3;
    border: none;
    text-decoration: none;
    border-radius: 0.9em;
    margin-top: 15px;
    font-size: 1.1rem;
}
.bnt:hover{
    background-color: #c1e5eb;
    color: #f4fafb;
    border: none;
    text-decoration: none;
}
/* cabeçalho */
#cabecalho{
    grid-area: cabecalho;
    background-color: #274a50;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.notificacao{
    width: fit-content;
    margin: 30px;
}
.container-perfil{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.perfil{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    display: flex;
    
}
.perfil h2{
    background-color: red;
}
.pesquisa-container{
    width: 50%;
    height: 35%;
    align-items: center;
}
.pesquisa-container form{
    width: 100%;
    height: 100%;
    display: flex;
}
.campo{
    width: 100%;
    height: 100%;
}
.pesquisa{
    width: 70%;
}
.botao{
    width: 30%;
}
.pesquisa input{
    width: 100%;
    box-sizing: border-box;
}
.botao input{
    margin: 0;
    width: 100%;
}
.campo input{
    height: 40px;
    border-radius: 0.5rem;
    border: solid 2px #377984;
}
.campo input:focus{
    border: solid 2px #dce6e8;
}


#nav {
    color: aliceblue;
    grid-area: nv;
    height: 7vh;

}
#nav ul li{
    border-right: 4px solid rgb(239, 71, 10);
    background-color: #1b2426;
    box-sizing: border-box;
    padding: 10px;
}

#nav ul{
    display: flex;
    background-color: #1b2426;
    box-sizing: border-box;
    height: 100%;  
}
#nav ul :hover{
    background-color: #7a979c;
    cursor: pointer;
}


/* fim cabeçalho */
#conteudo{
    grid-area:conteudo;
    background-color: #CDEDF6;
    height: 100vh;
    grid-column-start: 2;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;

}
#rodape{
    grid-area: rodape;
    background-color: #042A2B;
    height: 20vh;
}